// Color definition
// Define colors as variables. These variables should NOT be used outside of this file.

// Common
$-c-white:          #ffffff;
$-c-black:          #000000;

// Brand colors
$-c-brand-gray:       #2a2a2a;
$-c-brand-gray-light: #a2a2a2;

// Theme colors
// To be used as variables in the project
// Colors needs to be written as variables. Color hex codes are defined above.

// Brand Colors
$c-primary:             $-c-brand-gray;
$c-secondary:           $-c-brand-gray-light;

// Text
$c-text-dark:           $-c-brand-gray-light;
$c-text-light:          $-c-white;

$c-text-on-primary:     $-c-white;
$c-text-on-secondary:   $-c-brand-gray;

// Background
$c-bg:                  $-c-brand-gray;

// Border
$c-border:              lighten($-c-brand-gray, 2%); // TODO: Change

// Input Placeholder
$c-input-placeholder:   $-c-brand-gray;

// Fade Light
$c-fade-light-00:       rgba(255, 255, 255, 0);

// Fade Dark
$c-fade-dark-00:        rgba(0, 0, 0, 0);
$c-fade-dark-20:        rgba(0, 0, 0, 0.2);
