// This files includes CSS for font icons
// sass-lint:disable no-css-comments, force-pseudo-nesting

$font-path: '../font/icons/';
$font-name: 'icons';

@font-face {
  font-family: '#{$font-name}';
  src: url('#{$font-path}#{$font-name}.woff2') format('woff2'),
       url('#{$font-path}#{$font-name}.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  &:before {
    font-family: '#{$font-name}';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // Remove spacing when using spacing utility classes
  &.no-margin,
  &[class*='m-l'],
  &[class*='m-r'] {
    &:before {
      margin: 0;
    }
  }
}

// Icons
// Copy and paste from Fontello CSS file
