// sass-lint:disable indentation

// Clearfix

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Font Size Lock

@mixin font-size-lock($min-size, $max-size, $min-width, $max-width) {

  // $min-size: rem
  // $max-size: px
  // $min-width: px
  // $max-width: px

  @if (unit($min-size) == px) {
    $min-size: px-rem(strip-unit($min-size));
  } @else if (unit($min-size) == em) {
    $min-size: #{strip-unit($min-size)}rem;
  } @else if (unitless($min-size)) {
    $min-size: #{$min-size}rem;
  }

  font-size: $min-size;
  @media (min-width: $min-width) and (max-width: $max-width) {
    $size: $min-size;
    $size-increase: (strip-unit($max-size) - (strip-unit($size) * 16));
    font-size: calc(#{$size} + #{$size-increase} * (100vw - #{$min-width}) / (#{strip-unit($max-width)} - #{strip-unit($min-width)}));
  }
  @media (min-width: ($max-width + 1px)) {
    font-size: $max-size;
  }
}

// Keyframes

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// Transform

@mixin transform($value...) {
  -webkit-transform: $value;
      -ms-transform: $value;
          transform: $value;
}

// Transform origin

@mixin transform-origin($value) {
  -webkit-transform-origin: $value;
      -ms-transform-origin: $value;
          transform-origin: $value;
}

// Animation

@mixin animation($value...) {
  -webkit-animation: $value;
          animation: $value;
}

// Font Size Fallback

@mixin font-size($size) {
  // sass-lint:disable-block no-duplicate-properties
  font-size: $size;
  font-size: calculate-rem($size);
}

// Opacity (IE5+)

@mixin opacity($opacity) {
  $opacity-ie: $opacity * 100;
  opacity: $opacity;
  filter: alpha(opacity=$opacity-ie);
}

// Unselectable

@mixin unselectable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

// User select

@mixin user-select($value) {
  -webkit-user-select: $value;
     -moz-user-select: $value;
      -ms-user-select: $value;
          user-select: $value;
}

// Columns

@mixin columns($value) {
  -webkit-columns: $value;
     -moz-columns: $value;
          columns: $value;
}

@mixin column-gap($value) {
  -webkit-column-gap: $value;
     -moz-column-gap: $value;
          column-gap: $value;
}

// Flexbox

@mixin flex-display($display: flex) {
  // sass-lint:disable-block no-duplicate-properties
  display: -webkit-#{$display};
  display: -moz-#{$display};
  display: -ms-#{$display}box;
  display: -ms-#{$display};
  display: $display;
}

@mixin flex($columns: initial) {
  -webkit-flex: $columns;
      -ms-flex: $columns;
          flex: $columns;
}

@mixin flex-direction($direction: row) {
  -webkit-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin flex-wrap($wrap: nowrap) {
  -webkit-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}

@mixin flex-order($order: 0) {
  -webkit-order: $order;
      -ms-order: $order;
          order: $order;
}

@mixin flex-grow($grow: 0) {
  -webkit-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

@mixin flex-shrink($shrink: 1) {
  -webkit-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

@mixin flex-basis($width: auto) {
  -webkit-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}

@mixin justify-content($justify: flex-start) {
  -webkit-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
}

@mixin align-content($align: stretch) {
  -webkit-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

@mixin align-items($align: stretch) {
  -webkit-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

@mixin align-self($align: auto) {
  -webkit-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}
