// This files includes CSS for included fonts

@mixin font-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@mixin font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

@mixin font-heading {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
}
