[data-am-mainnavigation] {
  @include animation(no-transform .6s cubic-bezier(.15,1.74,.6,.76) forwards);
  @include transform-origin(calc(100% - #{$g-app-gutter}) $gutter-half);
  @include transform(scale(0));
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $c-bg-inverted;
  color: $c-primary;  
  border-radius: 90% 60% 90% 40%;
  z-index: 90;

  .main-nav {
    @include flex-display;
    @include flex-direction(column);
    @include justify-content(center);
    height: 100%;
  }

  &.is-open {
    display: block;
  }

  .main-nav-list {
    list-style: none;
    padding: $gutter 0;
    margin: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
  }

  .main-nav-item {
    &.is-active {
      .main-nav-link {
        text-decoration: underline;
      }
    }
  }

  .main-nav-link {
    @include active-scale(0.95, 0 50%);
    @include font-bold;
    display: block;
    padding: 0 $gutter;
    font-size: 3rem;
    text-transform: uppercase;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}
