---
notes: |
  This is a grid of tiles.
---

<div data-am-tilegrid="">
  <ul class="tile-grid">
    <li class="tile-item">
      <a href="" title="" class="tile-link">
        <div class="tile">
          <div class="tile-content">
            {{> label.label text="01" }}
            <h3 class="no-margin">Lorem ipsum</h3>
          </div>
          <div class="tile-image" style="background-image: url(/assets/toolkit/images/sample_image_small.jpg);"></div>
        </div>
      </a>
    </li>
    <li class="tile-item">
      <a href="" title="" class="tile-link">
        <div class="tile">
          <div class="tile-content">
            {{> label.label text="02" }}
            <h3 class="no-margin">Lorem ipsum</h3>
          </div>
        </div>
      </a>
    </li>
    <li class="tile-item">
      <a href="" title="" class="tile-link">
        <div class="tile">
          <div class="tile-content">
            {{> label.label text="03" }}
            <h3 class="no-margin">Lorem ipsum</h3>
          </div>
        </div>
      </a>
    </li>
    <li class="tile-item">
      <a href="" title="" class="tile-link">
        <div class="tile">
          <div class="tile-content">
            {{> label.label text="04" }}
            <h3 class="no-margin">Lorem ipsum</h3>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
