---
notes: |
  This is a grid of tiles with a fixed height.
---

<div data-am-tilegrid="fixed-height">
  <ul class="tile-grid">
    <li class="tile-item">
      <a href="" title="" class="tile-link">
        <div class="tile">
          <div class="tile-content">
            <div class="m-b-half">
              {{> label.label text="01" }}
            </div>
            <h3 class="no-margin">Lorem ipsum</h3>
            <div class="font-size-tiny-rem font-bold m-t-half">
              Lorem ipsum
            </div>
          </div>
          <div class="tile-image" style="background-image: url(/assets/toolkit/images/sample_image_small.jpg);"></div>
        </div>
      </a>
    </li>
    <li class="tile-item">
      <a href="" title="" class="tile-link">
        <div class="tile">
          <div class="tile-content">
            <div class="m-b-half">
              {{> label.label text="02" }}
            </div>
            <h3 class="no-margin">Lorem ipsum</h3>
            <div class="font-size-tiny-rem font-bold m-t-half">
              Lorem ipsum
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="tile-item">
      <a href="" title="" class="tile-link">
        <div class="tile">
          <div class="tile-content">
            <div class="m-b-half">
              {{> label.label text="03" }}
            </div>
            <h3 class="no-margin">Lorem ipsum</h3>
            <div class="font-size-tiny-rem font-bold m-t-half">
              Lorem ipsum
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="tile-item">
      <a href="" title="" class="tile-link">
        <div class="tile">
          <div class="tile-content">
            <div class="m-b-half">
              {{> label.label text="04" }}
            </div>
            <h3 class="no-margin">Lorem ipsum</h3>
            <div class="font-size-tiny-rem font-bold m-t-half">
              Lorem ipsum
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
