---
title: Overview | Fabricator Styleguide
fabricator: true
---

<div class="f-item-group" id="colors">

	<style>
		.color-palette {
			position: relative;
			display: inline-block;
			width: 150px;
			height: 150px;
			margin-right: 15px;
			margin-bottom: 15px;
		}
		.color-name {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			padding: 0 15px;
			text-align: center;
			-webkit-transform: translateY(-50%);
				  -ms-transform: translateY(-50%);
					    transform: translateY(-50%);
		}
	</style>

	<div class="f-item-heading-group">
		<h2 class="f-item-heading">Colors</h2>
	</div>
	<div class="f-item-notes" data-f-toggle="notes">
		<p>All colors used in this project.</p>
	</div>
	<div class="f-item-group">
		<div class="f-item-heading-group">
			<h3 class="f-item-heading">Brand Colors</h3>
		</div>
		<div class="f-item-preview">
			<div class="color-palette bg-primary"><div class="color-name">Primary</div></div>
			<div class="color-palette bg-secondary"><div class="color-name">Secondary</div></div>
		</div>
	</div>
	<div class="f-item-group">
		<div class="f-item-heading-group">
			<h3 class="f-item-heading">Accent Colors</h3>
		</div>
		<div class="f-item-preview">
			<div class="color-palette bg-accent"><div class="color-name">Accent</div></div>
		</div>
	</div>
</div>

<div class="f-item-group" id="typography">
	<div class="f-item-heading-group">
		<h2 class="f-item-heading">Typography</h2>
	</div>
	<div class="f-item-group">
		<div class="f-item-heading-group">
			<h3 class="f-item-heading">Headings</h3>
      <div class="f-item-controls">
				<span class="f-control f-icon" data-f-toggle-control="notes" title="Toggle Notes">
					<svg>
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#f-icon-notes"></use>
					</svg>
				</span>
			</div>
		</div>
    <div class="f-item-notes" data-f-toggle="notes">
      <p>These are the headings used in this project.</p>
    </div>
		<div class="f-item-preview">
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
		</div>
	</div>
	<div class="f-item-group">
		<div class="f-item-heading-group">
			<h3 class="f-item-heading">Paragraph</h3>
      <div class="f-item-controls">
				<span class="f-control f-icon" data-f-toggle-control="notes" title="Toggle Notes">
					<svg>
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#f-icon-notes"></use>
					</svg>
				</span>
			</div>
		</div>
    <div class="f-item-notes" data-f-toggle="notes">
      <p>This is a normal text paragraph displaying the base text's color and font.</p>
    </div>
		<div class="f-item-preview">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl. In dignissim lacus ut ante. Cras elit lectus, bibendum a, adipiscing vitae, commodo et, dui. Ut tincidunt tortor. Donec nonummy, enim in lacinia pulvinar, velit tellus scelerisque augue, ac posuere libero urna eget neque. Cras ipsum. Vestibulum pretium, lectus nec venenatis volutpat, purus lectus ultrices risus, a condimentum risus mi et quam. Pellentesque auctor fringilla neque. Duis eu massa ut lorem iaculis vestibulum. Maecenas facilisis elit sed justo. Quisque volutpat malesuada velit.</p>
		</div>
	</div>
</div>
