---
notes: |
  This component is used to list items in an overflow grid.
---

<div data-am-overflowgrid="">
  <ul class="overflow-grid">
    <li class="overflow-grid-item">
      <a href="#section-about" title="" class="overflow-grid-action">
        <div class="m-b-mini">
          {{> label.label text="01" }}
        </div>
        <div class="font-bold text-light">About</div>
      </a>
    </li>
    <li class="overflow-grid-item">
      <a href="#section-portfolio" title="" class="overflow-grid-action">
        <div class="m-b-mini">
          {{> label.label text="02" }}
        </div>
        <div class="font-bold text-light">Portfolio</div>
      </a>
    </li>
    <li class="overflow-grid-item">
      <a href="#section-contact" title="" class="overflow-grid-action">
        <div class="m-b-mini">
          {{> label.label text="03" }}
        </div>
        <div class="font-bold text-light">Contact</div>
      </a>
    </li>
  </ul>
</div>
