[data-am-tilegrid] {
  margin-left: -($g-app-gutter);
  margin-right: -($g-app-gutter);

  .tile-grid {
    padding-left: $g-app-gutter;
    padding-right: $g-app-gutter;
    border-top: 1px solid $c-border;
    border-bottom: 1px solid $c-border;
    list-style: none;
    margin: 0;
    margin-top: -1px;
    font-size: 0;

    > * {
      font-size: 1rem;
    }
  }

  .tile-item {
    display: inline-block;
    width: 100%;
  }

  .tile-link {
    color: $c-text-dark;

    &:hover {
      text-decoration: none;
    }

    &:active {
      .tile {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .tile {
    @include flex-display;
    @include flex-direction(row);
    position: relative;
    border: 1px solid $c-border;
    border: 1px solid $c-border;
    margin-bottom: -1px;
    transition: box-shadow 200ms ease;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: $g-box-shadow;
      opacity: 0;
      transition: opacity 200ms ease;
    }
  }

  .tile-content {
    @include flex(1 0 auto);
    @include align-self(center);
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    transition: padding 200ms ease;
  }

  .tile-image {
    width: 33.333%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

[data-am-tilegrid~='fixed-height'] {
  .tile {
    height: 200px;
  }

  .tile-content {

  }
}
