[data-am-tilegrid] {
  .tile-item {
    display: inline-block;
    width: 50%;
  }

  .tile {
    margin-left: -1px;
  }

  .tile-content {
    padding-left: $gutter-half;
    padding-right: $gutter-half;
  }
}
