[data-am-app] {
  .app-section {
    position: relative;
    display: block;
    padding-left: $g-app-gutter;
    padding-right: $g-app-gutter;

    & + .app-section {
      margin-top: $gutter-quadruple;
    }
  }

  .app-section-viewport {
    @include flex-display;
    @include flex-direction(column);
    @include justify-content(center);
    height: 100vh;
  }

  .app-section-content-bottom {
    @include transform(translateX(-50%));
    position: absolute;
    bottom: $gutter;
    left: 50%;
  }
}
