html {
  font-size: 100%;
}

body {
  @include font-regular;
  font-size: 1rem;
  line-height: 1.6;
  color: $c-text-dark;
  -webkit-font-smoothing: antialiased;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include font-heading;
  line-height: 1.2;
  color: $c-text-light;
  margin-top: 0;
  margin-bottom: $gutter;
  position: relative;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1rem;
}

h5,
.h5 {
  font-size: 0.875rem;
}

h6,
.h6 {
  font-size: 0.75rem;
}

p {
  margin-top: 0;
  margin-bottom: $gutter-half;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
