<!DOCTYPE html>
<html lang="">
<head>

	<title>{{#if title}}{{title}}{{else}}Alex Erlandsson Style Guide{{/if}}</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- toolkit CSS -->
	{{#if fabricator}}<link rel="stylesheet" href="{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}
	<!-- /toolkit CSS -->

  <script src="https://use.typekit.net/rse5orc.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

	<!-- CSS -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,900" rel="stylesheet">
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/default.css">

</head>
<body>

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
  {{else}}

	{{/if}}

	{% body %}

	{{#if fabricator}}
		</div>
	<script src="{{baseurl}}/assets/fabricator/scripts/f.js"></script>
  {{else}}

	{{/if}}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="{{baseurl}}/assets/toolkit/scripts/default.js"></script>

</body>
</html>
